*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}


#recomend{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    background: #131415;
}

#recomend h2{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    margin-left: 120px;
}

.recomend-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.recomend-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
    margin-left: 40px;
    background-color: #252525;
    border-radius: 17px;
}

.recomend-card img{
    border-radius: 17px;
}

.card-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
}

.card-info p:first-child{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.card-info p:nth-child(2){
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.3;
}

.card-info span{
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800;
    font-size: 20px;
}

.recomend-card button{
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    border-radius: 17.5px;
    font-size: 12px;
    padding: 10px 15px;
    color: #FFFFFF;
    border: none;
    font-weight: 300;
    cursor: pointer;  
}